.phx-header {
    position: relative;

    .phx-header__logo {
        display: inline-block;
        line-height: 1;
        width: 200px;
        padding: 0;
        margin: 0;

        @media all and (min-width: $M) {
            width: 250px;
        }

        > img {
            display: inline-block;
            max-width: 100%;
            width: 100%;
        }
    }
    
    .phx-header__version {
        margin: 0;
        margin-top: -5px;
        padding: 0 10px;
        font-size: smaller;
    }    
}