.phx-header {
    position: relative;

    .phx-header__logo {
        display: inline-block;
        min-width: 200px;
        max-width: 300px;

        > img {
            display: inline-block;
            max-width: 100%;
            width: 100%;
        }
    }
    
    .phx-header__version {
        margin: 0;
        padding: 0 10px;
        font-size: smaller;
    }    
}